extends layout
block content
	.jumbotron
		h3 Login
		form(method="POST" action="/login")
			#form-group
				label Username  :
				input.form-control(name="username" ,type="text")
			#form-group
				label Password  :
				input.form-control(name="password" ,type="password")

			br
			br

			input.button.btn(type="submit" value="Login")

