extends layout
block content
	.jumbotron
		h3 Register as new user
		form(method="POST" action="/adduser")
			#form-group.wrap3
				label Name*  :
				input.input-group.input1(name="name" ,type="text")
			#form-group.wrap3
				label Username*  :
				input.input-group.input1(name="username" ,type="text")
			#form-group.wrap3
				label Password  :
				input.input-group.input1(name="password" ,type="password")
			#form-group.wrap3
				label Confirm Password  :
				input.input-group.input1(name="password2" ,type="password")
			#form-group.wrap3
				label Room*  :
				input.input-group.input1(name="room" ,type="text")
			#form-group.wrap3
				label Branch  :
				input.input-group.input1(name="branch" ,type="text")

			br
			br
				
			input.button.btn(type="submit" value="Register")

