extends layout

block content
	br
	br
	h2 Registered users
	.jumbotron.usrlist
		ul.list-group
		each u in users
			if !user || user.username!=u.username
				li.list-group-item.card1
					i.fa.fa-user
					span   #{u.name}  
					if(u.username)
						a(href='/user/'+u._id).
							@#{u.username}
