body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

footer {
	text-align: right;
}
.input1 {
	width: 300px;
	margin: 10px;
	border-radius: 10px;
}
.wrap3 {
	padding-left: 50px;
}